[submodule "Engine/Third/glfw"]
	path = Engine/Third/glfw
	url = git@github.com:chendebi/glfw.git
[submodule "Engine/Third/glm"]
	path = Engine/Third/glm
	url = git@github.com:chendebi/glm.git
[submodule "Engine/Third/spdlog"]
	path = Engine/Third/spdlog
	url = git@github.com:c-learn-game/spdlog.git
[submodule "Engine/Third/stb"]
	path = Engine/Third/stb
	url = git@github.com:nothings/stb.git
